################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SqlServerValidationToolkit.Model/obj/Debug
/SqlServerValidationToolkit.v12.suo
